/*-- single --*/
.single-right h3{
        font-size:1.5em;
        color:#212121;
        margin-bottom: 1em;
}
.description{
        margin:2em 0;
}
.description h5{
        color: #1abc9c;
    font-size: 1em;
    margin: 0;
}
.description p{
        color: #999;
    line-height: 1.8em;
    margin: 1em 0 0;
}
.color-quality-left{
        float:left;
}
.color-quality-left h5,.color-quality-right h5,.occasional h5{
        text-transform:uppercase;
        font-size:1em;
        color:#FF9B05;
        margin:0 0 1em;
}
.occasional {
    margin:3em 0;
}

.color-quality-right {
        float: left;
    margin-left: 8em;
}
.colr {
    float: left;
    margin-right: 1em;
}
.occasional label{
        font-size:14px;
        font-weight:500;
        color:#999;
        margin: 1.5em 0 0 0em;
}
.checkbox {
    position: relative;
        padding-left: 38px !important;
    cursor: pointer;
}
.checkbox i {
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    outline: none;
    border: 2px solid #EDEDED;
    background: #FFF;
}
.checkbox input + i:after,.radio input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}
.checkbox input:checked + i:after,.radio input:checked + i:after{
    opacity: 1;
}
.checkbox input,.radio input {
    position: absolute;
    left: -9999px;
}
.checkbox input + i:after {
    content: '';
    background: url("../images/check.png") no-repeat 1px 2px;
    top: 0px;
    left: 2px;
    width: 16px;
    height: 16px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}
/*-- quantity-starts --*/
 .value-minus,
.value-plus,.value-minus1,
.value-plus1{
    height: 40px;
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
        border:1px solid #b2b2b2;
            vertical-align: bottom;
}
.quantity-select .entry.value-minus:before,
.quantity-select .entry.value-plus:before,.quantity-select .entry.value-minus1:before,
.quantity-select .entry.value-plus1:before{
        content: "";
        width: 13px;
        height: 2px;
        background: #000;
        left: 50%;
        margin-left: -7px;
        top: 50%;
        margin-top: -0.5px;
        position: absolute;
}
.quantity-select .entry.value-plus:after,.quantity-select .entry.value-plus1:after{
        content: "";
        height: 13px;
        width: 2px;
        background: #000;
        left: 50%;
        margin-left: -1.4px;
    top: 50%;
    margin-top: -6.2px;
        position: absolute;
}
.value,.value1  {
    cursor: default;
    width: 40px;
        height:40px;
    padding: 8px 0px;
    color: #A9A9A9;
    line-height: 24px;
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    text-align: center;
    display: inline-block;
        margin-right: 3px;
}

.quantity-select .entry.value-minus:hover,
 .quantity-select .entry.value-plus:hover,.quantity-select .entry.value-minus1:hover,
 .quantity-select .entry.value-plus1:hover{
        background: #E5E5E5;
}

.quantity-select .entry.value-minus,.quantity-select .entry.value-minus1{
    margin-left: 0;
}
/*-- quantity-end --*/
div#horizontalTab1 ul {
    padding-bottom: 1.5em;
}
.additional_info_grid h3{
        font-size:1.5em;
        color:#212121;
        margin-bottom:1em;
}
.additional_info_grid p{
        color:#999;
        line-height:1.8em;
}
.additional_info_grid {
    padding: 2em;
    background:#F6F6F6;
}
.additional_info_grid h4{
        font-size:1.2em;
        color:#212121;
}
.additional_info_sub_grids{
        margin:2em 0 0;
}
.additional_info_sub_grid_rightl{
        float:left;
        width: 70%;
}

.additional_info_sub_grid_rightr{
        float:right;
        width:15%;
}
.additional_info_sub_grid_rightl a{
        color:#212121;
        font-size:1em;
        text-decoration:none;
}
.additional_info_sub_grid_rightl a:hover{
        color:#FF9B05;
}
.additional_info_sub_grid_rightl h5{
        color:#FF9B05;
        margin:.5em 0;
        font-size: .8em;
}
.additional_info_sub_grid_rightl p{
        color:#999;
        line-height:1.8em;
}
.review_grids h5{
        font-size:1.5em;
        color:#212121;
        margin-bottom:1em;
}
.review_grids {
    margin: 3em 0 0;
}
.review_grids input[type="text"],.review_grids input[type="email"],.review_grids textarea{
        outline: none;
    padding: 10px;
    font-size: 14px;
    color: #212121;
    width: 48.7%;
    background: #fff;
    border: 1px solid #E6E6E6;
}


.review_grids input[type="text"]:nth-child(3){
        margin: 1em 0;
    width: 100% !important;
}
.review_grids input[type="email"]{
        margin-left:1em;
}
.review_grids textarea{
        width:100% !important;
        min-height:200px;
        margin-bottom:.8em;
}
.review_grids input[type="submit"]{
        outline:none;
        padding:10px 0;
        font-size:1em;
        color:#fff;
        width:35%;
        background:#212121;
        border:none;
}
.review_grids input[type="submit"]:hover{
        background:#FF9B05;
}
.review_grids form {
    width: 70%;
    margin: 0 auto;
}
/*-- //single --*/


